
.red-price {
  font-size: .24rem;
  color: $red;

  .red-price-strong {
    font-weight: bold;
    font-size: .44rem;
  }
}

.pay-type {
  padding: .18rem .14rem;
  background-color: $orange;
  color: #fff;
  font-size: .26rem;
  border-radius: 0.1rem;
}