@charset 'utf-8';

// var =====================
@screenWidth: 7.5rem;
@normalColor: #222;
@grayColor: #999;
@blue: #4289ff;
@red: #ff4d1d;
@orange: #ff6913;
@green: #2eb000;


// mixin =====================
.fixed() {
  display: fixed;
}

.border(all, @width:1px, @color:#ddd) {
  border: @width solid @color;
}
.border(t, @width:1px, @color:#ddd) {
  border-top: @width solid @color;
}
.border(r, @width:1px, @color:#ddd) {
  border-right: @width solid @color;
}
.border(b, @width:1px, @color:#ddd) {
  border-bottom: @width solid @color;
}

.box-shadow(@width:6px;@alpha:.1) {
  box-shadow: 0 0 @width rgba(0,0,0,@alpha);
}

.round() {
  border-radius: 50%;
}

.special-btn() {
  background-color: #ff6913;
  color: #fff;
}

.ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.clearfix() {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

.ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// style =====================
// fashSearchPage
.filter-form {
  background-color: #fff;

  .filter-item {
    position: relative;
    @height: .8rem;
    height: @height;
    margin: 0 0.2rem;
    padding: 0.1rem 0;
    .border(b);
    color: @grayColor;

    .icon-right {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }

    .filter-date {
      float: left;
    }

    .filter-date-count {
      @labelHeight: .3rem;
      float: left;
      width: .6rem;
      height: @labelHeight;
      padding: 2px 6px;
      margin: .2rem .4rem;
      .border(all, 1px);
      text-align: center;
      font-size: .24rem;
      line-height: @labelHeight;
      border-radius: 50px;

      span {
        color: @normalColor;
      }
    }

    span {
      font-size: .24rem;
    }

    p {
      .ellipsis;
      font-size: .4rem;
      
      &.value {
        color: @normalColor;
      }
      
      &.single {
        width: 90%;
        line-height: @height;
      }
    }
  }

  .filter-btn {
    padding: .2rem;
    
    .search-btn {
      .special-btn;
    }
  }
}

.sidebar {
  background-color: #fff;
}

.city-selector {
  width: @screenWidth;

  .header() {
    @height: .6rem;
    height: @height;
    background-color: #f0f0f0;
    .border(b);
    line-height: @height;
  }

  .header-arrow() {
    right: .4rem;
    top: 0;
    bottom: 0;
    margin: auto;
  } 

  .am-accordion-header {
    .header !important;

    .arrow {
      .header-arrow !important;
    }
  }

  .list-item {
    .border(b);
  }

  .am-search {
    background-color: #c6dbff !important;
  }
  .am-search-input {
    border-radius: 20px !important;
  }
}

.date-selector {
  height: 80vh;

  .confirm-panel {
    display: none;
  }
}

.keyword-selector {
  width: @screenWidth;

  .header {
    position: relative;

    .arrow {
      position: absolute;
      left: .1rem;
      height: 100%;
      z-index: 1;
    }
    
    @inputHeight: .72rem;
    .am-search {
      height: 1rem;
      background-color: @blue;
    }
    .am-search-input {
      height: @inputHeight;
      margin-left: .6rem;
    }
    .am-search-synthetic-ph {
      height: @inputHeight;
      line-height: @inputHeight;
    }
    .am-search-value {
      height: @inputHeight;
    }
    .am-search-clear {
      height: @inputHeight;
      padding: 0 15px 0 0;
    }
    .am-search-cancel {
      color: #fff;
    }
  }

  .card-block {
    overflow: hidden;
    background-color: #f0f0f0;
    
    .card {
      margin: .15rem;
    }

    .am-card {
      min-height: 0;
      padding-bottom: 0;

      .am-card-header {
        border-bottom: 1px solid #eee;
      }
      .am-card-header-content {
        color: @blue;
        font-size: .3rem;
      }
    }
  }
}

.star-and-price {
  overflow: hidden;
  position: relative;
  height: 5.4rem;

  .data-entry-block {
    padding: .4rem .2rem 0;

    .price {
      margin-left: .1rem;
      color: #108ee9;
      font-size: .25rem;
    }
  }

  .flex-tag {
    display: flex;
    justify-content: space-between;
    margin-top: .3rem;

    .tag {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1.7rem;
      height: .9rem;
      font-size: .25rem;
      line-height: 1.4;
    }
  }

  .range-selector {
    margin: .4rem .6rem 0;
  }

  .clear-and-submit {
    position: absolute;
    bottom: 0;
    width: 100%;
    
    .btn() {
      @h: 1rem;
      float: left;
      width: 50%;
      height: @h;
      text-align: center;
      font-size: @h / 2.5;
      line-height: @h;
    }

    .clear {
      .btn;
      .border(t);
    }

    .submit {
      .btn;
      .special-btn;
    }
  }
}

.keyword-card-body {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  
  @itemHeight: .9rem;
  &.keyword-card-body-limit {
    max-height: 2 * @itemHeight;
  }
  
  .keyword-card-item {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
    box-sizing: border-box;
    width: 25%;
    height: @itemHeight;
    padding: .15rem;
    text-align: center;
    font-size: .24rem;
    line-height: 1.5;
    word-break: break-all;
    box-shadow: 0 0 1.5px #ccc;
  }

  .keyword-card-more {
    color: @blue;
  }
}

// HotelResultPage
.hotel-card {
  position: relative;
  .border(b);

  @imgWidth: 2rem;
  .hotel-card-img {
    position: absolute;
    left: 0;
    top: 0;
    width: @imgWidth;
    height: 100%;
  }

  @padding: .15rem;
  .hotel-card-info {
    width: @screenWidth - @imgWidth - 2 * @padding;
    margin-left: @imgWidth;
    padding: @padding;
    background-color: #fff;
    line-height: 1.5;

    .hotel-card-tit {
      font-size: .3rem;
    }

    .hotel-card-address {
      color: #666;
    }
  }

  .tag {
    display: inline-block;
    margin-right: 4px;
    padding: 0 2px;
    .border(all, @color:@blue);
    color: @blue;
    font-size: .24rem;
    word-break: keep-all;
    border-radius: 4px;
  }

  @priceFontSize: .44rem;
  .hotel-card-footer {
    position: relative;
    height: @priceFontSize;
    margin-top: .05rem;

    .hotel-card-star {
      color: @grayColor;
      font-size: .26rem;
      vertical-align: bottom;
    }

    .start-price-txt {
      position: absolute;
      top: 0;
      right: 0;
      color: @grayColor;
      font-size: .24rem;

      .yuan {
        color: @red;
      }

      .start-price {
        color: @red;
        font-size: @priceFontSize;
        line-height: 1;
      }
    }
  }
}

.hotel-result-page {
  .am-navbar {
    height: .7rem;
  }

  .header-search-bar {
    &.am-search {
      margin-top: -5px;
      background-color: #108ee9;
    }
    .am-search-cancel {
      color: #fff;
    }
  }

  .header-filter-line {
    .clearfix;
    .border(b);
    background-color: #fff;
    
    @height: .3rem;
    @gap: .2rem;
    .header-filter-item {
      .ellipsis();

      float: left;
      box-sizing: border-box;
      width: 33.3%;
      height: @height;
      margin: @gap 0;
      padding: 0 @gap;
      .border(r, @color:#eee);
      line-height: @height;
      text-align: center;
      font-size: .26rem;

      &.header-filter-item-light {
        color: @blue;
      }
    }

    svg {
      vertical-align: sub;
    }
  }

  .totop {
    display: none;
    position: fixed;
    right: .3rem;
    bottom: .6rem;
    width: .8rem;
    height: .8rem;
    .border(all, @color:#999);
    background-color: #fff;
    .round;
  }
}

.hotel-detail {
  .alpha() {
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
  }

  .first-img {
    position: relative;
    width: 100%;
    height: 4rem;
    background: no-repeat center / cover;
    color: #fff;
    font-size: .24rem;
    line-height: 1.5;

    
    @gap: 0.2rem;
    
    .back {
      @diameter: .6rem;
      
      position: absolute;
      top: @gap;
      left: @gap;
      width: @diameter;
      height: @diameter;
      .alpha;
      .round;

      svg {
        height: @diameter;
      }
    }

    .name-card {
      position: absolute;
      bottom: @gap;
      left: @gap;

      .name {
        font-size: .32rem;
      }
      .des {
        margin-right: .2rem;
      }
    }

    .pic-num {
      position: absolute;
      bottom: @gap;
      right: @gap;
      height: .36rem;
      border-radius: .2rem;
    }
  }

  @minHeight: .8rem;
  @dingweiWidth: 10%;
  .address-wrapper {
    display: flex;
    align-items: center;
    min-height: @minHeight;
    padding: .2rem;
    margin: .2rem;
    background-color: #fff;
    border-radius: .2rem;
    .box-shadow;

    .address {
      width: 100% - @dingweiWidth;
    }

    .icon-icon_dingwei-mian-copy {
      width: @dingweiWidth;
      text-align: center;
      color: @blue;
      font-size: .5rem;
    }
  }

  .room-accordion {
    // 以下为 accordion-header
    .am-accordion-header {
      display: flex;
      align-items: center;
      height: 2rem;
      .border(b) !important;
      line-height: 1.5;

      .arrow {
        top: initial;
      }
    }
    
    .room-accordion-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    @imgWidth: 2rem;
    .room-img {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;

      img {
        width: @imgWidth;
        height: 100%;
      }

      @gap: .1rem;
      .pic-num {
        position: absolute;
        bottom: @gap;
        right: @gap;
        height: .36rem;
        padding: 0 .15rem;
        line-height: .36rem;
        .alpha;
        color: #fff;
        font-size: .24rem;
        border-radius: .2rem;
      }
    }

    .room-info {
      margin-left: @imgWidth;

      .room-name {
        font-size: .3rem;
      }

      .room-price {
        float: right;
        right: 0;
      }
    }

    .des-line {
      .clearfix;
    }
    .des {
      .ellipsis;
      float: left;
      font-size: .24rem;
      color: #666;
      margin-right: .2rem;
    }
    .green {
      color: @green;
    }

    .room-price {
      margin-right: .3rem;
      font-size: .24rem;
      color: @red;

      .start-price {
        font-size: .42rem;
        font-weight: bold;
      }
    }

    .pay-type {
      padding: .09rem;
      background-color: @orange;
      font-size: .26rem;
      color: #fff;
      border-radius: 0.1rem;
    }

    // 以下为 accordion-content
    .am-accordion-content {
      background: initial;
    }
    .am-list-body {
      background-color: initial;
    }
    .am-list-item {
      margin: .2rem;
      .box-shadow;
      border-radius: .2rem;
    }
  }

  .room-plan {
    display: flex;
    align-items: center;

    .room-plan-des {
      float: left;
      width: 55%;
      .border(r,@color:#eee);

      .room-plan-brief {
        font-size: .3rem;
      }
    }

    .room-pay {
      float: left;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 45%;
    }
  } 
}

.room-detail {
  overflow: scroll;
  height: 88vh;
  background-color: #fff;

  .room-detail-tit {
    height: 0.8rem;
    padding-left: .2rem;
    background-color: #eee;
    color: #666;
    font-size: .3rem;
    line-height: .8rem;
  }

  .info-block {
    @padding: 0.2rem;
    @labelWidth: 1.6rem;

    padding: @padding;
    .border(b,@color:#eee);
    font-size: .26rem;
    white-space: normal;
    
    li {
      .clearfix;
      margin-bottom: .1rem;
    }

    .info-line-tit {
      margin-right: .3rem;
      color: #999;
    }
    
    .info-line-label {
      float: left;
      width: @labelWidth;
      color: #999;
    }

    .info-line-cnt {
      float: left;
      width: 7.5rem - 2 * @padding - @labelWidth;
    }

    .info-p {
      margin-top: .3rem;
    }

    .pay-type-pos {
      float: right;
      margin-right: .1rem;
    }
  }
}