@charset 'utf-8';
.filter-form {
  background-color: #fff;
}
.filter-form .filter-item {
  position: relative;
  height: 0.8rem;
  margin: 0 0.2rem;
  padding: 0.1rem 0;
  border-bottom: 1px solid #ddd;
  color: #999;
}
.filter-form .filter-item .icon-right {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.filter-form .filter-item .filter-date {
  float: left;
}
.filter-form .filter-item .filter-date-count {
  float: left;
  width: .6rem;
  height: 0.3rem;
  padding: 2px 6px;
  margin: .2rem .4rem;
  border: 1px solid #ddd;
  text-align: center;
  font-size: .24rem;
  line-height: 0.3rem;
  border-radius: 50px;
}
.filter-form .filter-item .filter-date-count span {
  color: #222;
}
.filter-form .filter-item span {
  font-size: .24rem;
}
.filter-form .filter-item p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: .4rem;
}
.filter-form .filter-item p.value {
  color: #222;
}
.filter-form .filter-item p.single {
  width: 90%;
  line-height: 0.8rem;
}
.filter-form .filter-btn {
  padding: .2rem;
}
.filter-form .filter-btn .search-btn {
  background-color: #ff6913;
  color: #fff;
}
.sidebar {
  background-color: #fff;
}
.city-selector {
  width: 7.5rem;
}
.city-selector .am-accordion-header {
  height: 0.6rem !important;
  background-color: #f0f0f0 !important;
  border-bottom: 1px solid #ddd !important;
  line-height: 0.6rem !important;
}
.city-selector .am-accordion-header .arrow {
  right: .4rem !important;
  top: 0 !important;
  bottom: 0 !important;
  margin: auto !important;
}
.city-selector .list-item {
  border-bottom: 1px solid #ddd;
}
.city-selector .am-search {
  background-color: #c6dbff !important;
}
.city-selector .am-search-input {
  border-radius: 20px !important;
}
.date-selector {
  height: 80vh;
}
.date-selector .confirm-panel {
  display: none;
}
.keyword-selector {
  width: 7.5rem;
}
.keyword-selector .header {
  position: relative;
}
.keyword-selector .header .arrow {
  position: absolute;
  left: .1rem;
  height: 100%;
  z-index: 1;
}
.keyword-selector .header .am-search {
  height: 1rem;
  background-color: #4289ff;
}
.keyword-selector .header .am-search-input {
  height: 0.72rem;
  margin-left: .6rem;
}
.keyword-selector .header .am-search-synthetic-ph {
  height: 0.72rem;
  line-height: 0.72rem;
}
.keyword-selector .header .am-search-value {
  height: 0.72rem;
}
.keyword-selector .header .am-search-clear {
  height: 0.72rem;
  padding: 0 15px 0 0;
}
.keyword-selector .header .am-search-cancel {
  color: #fff;
}
.keyword-selector .card-block {
  overflow: hidden;
  background-color: #f0f0f0;
}
.keyword-selector .card-block .card {
  margin: .15rem;
}
.keyword-selector .card-block .am-card {
  min-height: 0;
  padding-bottom: 0;
}
.keyword-selector .card-block .am-card .am-card-header {
  border-bottom: 1px solid #eee;
}
.keyword-selector .card-block .am-card .am-card-header-content {
  color: #4289ff;
  font-size: .3rem;
}
.star-and-price {
  overflow: hidden;
  position: relative;
  height: 5.4rem;
}
.star-and-price .data-entry-block {
  padding: .4rem .2rem 0;
}
.star-and-price .data-entry-block .price {
  margin-left: .1rem;
  color: #108ee9;
  font-size: .25rem;
}
.star-and-price .flex-tag {
  display: flex;
  justify-content: space-between;
  margin-top: .3rem;
}
.star-and-price .flex-tag .tag {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.7rem;
  height: .9rem;
  font-size: .25rem;
  line-height: 1.4;
}
.star-and-price .range-selector {
  margin: .4rem .6rem 0;
}
.star-and-price .clear-and-submit {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.star-and-price .clear-and-submit .clear {
  float: left;
  width: 50%;
  height: 1rem;
  text-align: center;
  font-size: 0.4rem;
  line-height: 1rem;
  border-top: 1px solid #ddd;
}
.star-and-price .clear-and-submit .submit {
  float: left;
  width: 50%;
  height: 1rem;
  text-align: center;
  font-size: 0.4rem;
  line-height: 1rem;
  background-color: #ff6913;
  color: #fff;
}
.keyword-card-body {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
.keyword-card-body.keyword-card-body-limit {
  max-height: 1.8rem;
}
.keyword-card-body .keyword-card-item {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 25%;
  height: 0.9rem;
  padding: .15rem;
  text-align: center;
  font-size: .24rem;
  line-height: 1.5;
  word-break: break-all;
  box-shadow: 0 0 1.5px #ccc;
}
.keyword-card-body .keyword-card-more {
  color: #4289ff;
}
.hotel-card {
  position: relative;
  border-bottom: 1px solid #ddd;
}
.hotel-card .hotel-card-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 2rem;
  height: 100%;
}
.hotel-card .hotel-card-info {
  width: 5.2rem;
  margin-left: 2rem;
  padding: 0.15rem;
  background-color: #fff;
  line-height: 1.5;
}
.hotel-card .hotel-card-info .hotel-card-tit {
  font-size: .3rem;
}
.hotel-card .hotel-card-info .hotel-card-address {
  color: #666;
}
.hotel-card .tag {
  display: inline-block;
  margin-right: 4px;
  padding: 0 2px;
  border: 1px solid #4289ff;
  color: #4289ff;
  font-size: .24rem;
  word-break: keep-all;
  border-radius: 4px;
}
.hotel-card .hotel-card-footer {
  position: relative;
  height: 0.44rem;
  margin-top: .05rem;
}
.hotel-card .hotel-card-footer .hotel-card-star {
  color: #999;
  font-size: .26rem;
  vertical-align: bottom;
}
.hotel-card .hotel-card-footer .start-price-txt {
  position: absolute;
  top: 0;
  right: 0;
  color: #999;
  font-size: .24rem;
}
.hotel-card .hotel-card-footer .start-price-txt .yuan {
  color: #ff4d1d;
}
.hotel-card .hotel-card-footer .start-price-txt .start-price {
  color: #ff4d1d;
  font-size: 0.44rem;
  line-height: 1;
}
.hotel-result-page .am-navbar {
  height: .7rem;
}
.hotel-result-page .header-search-bar.am-search {
  margin-top: -5px;
  background-color: #108ee9;
}
.hotel-result-page .header-search-bar .am-search-cancel {
  color: #fff;
}
.hotel-result-page .header-filter-line {
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}
.hotel-result-page .header-filter-line::after {
  content: '';
  display: block;
  clear: both;
}
.hotel-result-page .header-filter-line .header-filter-item {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  float: left;
  box-sizing: border-box;
  width: 33.3%;
  height: 0.3rem;
  margin: 0.2rem 0;
  padding: 0 0.2rem;
  border-right: 1px solid #eee;
  line-height: 0.3rem;
  text-align: center;
  font-size: .26rem;
}
.hotel-result-page .header-filter-line .header-filter-item.header-filter-item-light {
  color: #4289ff;
}
.hotel-result-page .header-filter-line svg {
  vertical-align: sub;
}
.hotel-result-page .totop {
  display: none;
  position: fixed;
  right: .3rem;
  bottom: .6rem;
  width: .8rem;
  height: .8rem;
  border: 1px solid #999;
  background-color: #fff;
  border-radius: 50%;
}
.hotel-detail .first-img {
  position: relative;
  width: 100%;
  height: 4rem;
  background: no-repeat center / cover;
  color: #fff;
  font-size: .24rem;
  line-height: 1.5;
}
.hotel-detail .first-img .back {
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  width: 0.6rem;
  height: 0.6rem;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  border-radius: 50%;
}
.hotel-detail .first-img .back svg {
  height: 0.6rem;
}
.hotel-detail .first-img .name-card {
  position: absolute;
  bottom: 0.2rem;
  left: 0.2rem;
}
.hotel-detail .first-img .name-card .name {
  font-size: .32rem;
}
.hotel-detail .first-img .name-card .des {
  margin-right: .2rem;
}
.hotel-detail .first-img .pic-num {
  position: absolute;
  bottom: 0.2rem;
  right: 0.2rem;
  height: .36rem;
  border-radius: .2rem;
}
.hotel-detail .address-wrapper {
  display: flex;
  align-items: center;
  min-height: 0.8rem;
  padding: .2rem;
  margin: .2rem;
  background-color: #fff;
  border-radius: .2rem;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}
.hotel-detail .address-wrapper .address {
  width: 90%;
}
.hotel-detail .address-wrapper .icon-icon_dingwei-mian-copy {
  width: 10%;
  text-align: center;
  color: #4289ff;
  font-size: .5rem;
}
.hotel-detail .room-accordion .am-accordion-header {
  display: flex;
  align-items: center;
  height: 2rem;
  border-bottom: 1px solid #ddd !important;
  line-height: 1.5;
}
.hotel-detail .room-accordion .am-accordion-header .arrow {
  top: initial;
}
.hotel-detail .room-accordion .room-accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.hotel-detail .room-accordion .room-img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.hotel-detail .room-accordion .room-img img {
  width: 2rem;
  height: 100%;
}
.hotel-detail .room-accordion .room-img .pic-num {
  position: absolute;
  bottom: 0.1rem;
  right: 0.1rem;
  height: .36rem;
  padding: 0 .15rem;
  line-height: .36rem;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  color: #fff;
  font-size: .24rem;
  border-radius: .2rem;
}
.hotel-detail .room-accordion .room-info {
  margin-left: 2rem;
}
.hotel-detail .room-accordion .room-info .room-name {
  font-size: .3rem;
}
.hotel-detail .room-accordion .room-info .room-price {
  float: right;
  right: 0;
}
.hotel-detail .room-accordion .des-line::after {
  content: '';
  display: block;
  clear: both;
}
.hotel-detail .room-accordion .des {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  float: left;
  font-size: .24rem;
  color: #666;
  margin-right: .2rem;
}
.hotel-detail .room-accordion .green {
  color: #2eb000;
}
.hotel-detail .room-accordion .room-price {
  margin-right: .3rem;
  font-size: .24rem;
  color: #ff4d1d;
}
.hotel-detail .room-accordion .room-price .start-price {
  font-size: .42rem;
  font-weight: bold;
}
.hotel-detail .room-accordion .pay-type {
  padding: .09rem;
  background-color: #ff6913;
  font-size: .26rem;
  color: #fff;
  border-radius: 0.1rem;
}
.hotel-detail .room-accordion .am-accordion-content {
  background: initial;
}
.hotel-detail .room-accordion .am-list-body {
  background-color: initial;
}
.hotel-detail .room-accordion .am-list-item {
  margin: .2rem;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: .2rem;
}
.hotel-detail .room-plan {
  display: flex;
  align-items: center;
}
.hotel-detail .room-plan .room-plan-des {
  float: left;
  width: 55%;
  border-right: 1px solid #eee;
}
.hotel-detail .room-plan .room-plan-des .room-plan-brief {
  font-size: .3rem;
}
.hotel-detail .room-plan .room-pay {
  float: left;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 45%;
}
.room-detail {
  overflow: scroll;
  height: 88vh;
  background-color: #fff;
}
.room-detail .room-detail-tit {
  height: 0.8rem;
  padding-left: .2rem;
  background-color: #eee;
  color: #666;
  font-size: .3rem;
  line-height: .8rem;
}
.room-detail .info-block {
  padding: 0.2rem;
  border-bottom: 1px solid #eee;
  font-size: .26rem;
  white-space: normal;
}
.room-detail .info-block li {
  margin-bottom: .1rem;
}
.room-detail .info-block li::after {
  content: '';
  display: block;
  clear: both;
}
.room-detail .info-block .info-line-tit {
  margin-right: .3rem;
  color: #999;
}
.room-detail .info-block .info-line-label {
  float: left;
  width: 1.6rem;
  color: #999;
}
.room-detail .info-block .info-line-cnt {
  float: left;
  width: 5.5rem;
}
.room-detail .info-block .info-p {
  margin-top: .3rem;
}
.room-detail .info-block .pay-type-pos {
  float: right;
  margin-right: .1rem;
}
