body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {margin: 0;}

/* 修改 am 样式 */
/* drawer */
.am-drawer {
  position: fixed !important;
  z-index: -1;
  transition: z-index 1s
}
.am-drawer-open {
  z-index: 5;
  transition: z-index 0s
}

/* tag */
.am-tag-normal {
  background-color: #f0f0f0 !important;
  color: #222 !important;
}
.am-tag-normal::before {
  border: 0 !important;
}
.am-tag-active {
  background-color: #e6f7ff !important;
}

/* range 的 mark */
.am-slider-mark-text {
  opacity: .3 !important;
}
.am-slider-mark-text-active {
  opacity: 1 !important;
}

/* menu */
.am-menu-select-container-submenu {
  flex-basis: 20% !important;
}